* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

body {
  background-color: #333333;
}

main {
  padding: 20px;
}

header {
  position: sticky;
  top: 0px;
}

article {
  background-color: white;
  max-width: 1200px;
  margin: auto;
  padding: 20px 50px;
  border-radius: 20px;
}

article h1 {
  font-size: 3rem;
  padding-bottom: 20px;
}

article h2 {
  font-size: 1.5rem;
}

article form {
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-color: #aaaaaa;
  border-radius: 0px;
  padding: 20px;
}

article .form-field {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  transition: 0.2s;
}


article .form-field select {
  border: none;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
  border-color: #aaaaaa;
  margin-top: 8px;
  padding: 12px;
  font-size: 1rem;
  height: 42px;
  width: 200px;
  transition: 0.2s;
}

article .form-field select:hover{
  box-shadow: 1px 1px 8px black;
}


article .form-field input {
  margin-top: 10px;
  border: none;
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  border-color: #aaaaaa;
  background-color: white;
  padding: 10px;
  font-size: 1rem;
  transition: 0.2s;
  width: 500px;
}

article .form-field input[type=submit] {
  margin-top: 10px;
  border: none;
  border-style: none;
  border-width: thin;
  border-radius: 5px;
  background-color: #aaaaaa;
  padding: 10px;
  font-size: 1rem;
  transition: 0.2s;
  width: 150px;
}

article .form-field input:hover{
  box-shadow: 1px 1px 8px black;
  color: black;
}

article .form-field textarea {
  margin-top: 10px;
  border: none;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  font-family: monospace;
  width: 80%;
  height: 200px;
  transition: 0.2s;
}

article .form-field textarea:hover{
  border-width: medium;
}

.status {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  max-width: 80%;
  padding: 20px;
  margin: auto;
  font-size: 0.8rem;
  font-style: italic;
}
